section {
  display: flex;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  padding-left: .2rem;
  border-bottom: .1rem solid $secondary-color;
  hyphens: auto;
}

.section-title {
  font-size: 1.5rem;
  text-align: left;
  min-width: 10.5rem;
  font-weight: bold;
  font-family: "IM Fell French Canon SC", "Bona Nova", "Segoe UI", Roboto, Helvetica, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  margin-right: .5rem;
}

// scss-lint:disable EmptyRule
.section-content {
}

.section-flex {
  display: flex;
  flex-wrap: wrap;
}

.publication strong {
  font-weight: bold;
}

.publication em {
  font-style: italic;
}

.block {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.block-square {
  width: 18rem;

  &:nth-last-child(2) {
    margin-bottom: 0;
  }
}

.block-title {
  font-size: 1.2rem;
  margin-bottom: .4rem;
  font-weight: bold;
}

.inline-minor-title {
  font-size: 1rem;
  margin-bottom: .4rem;
  font-weight: bold;
}

.course-name {
  font-size: 1.2rem;
  margin-bottom: .4rem;
  font-weight: bold;
}

.item-key {
  display: table-cell;
  color: $secondary-color;
  padding-right: 1rem;
  width: 5rem;
  text-align: right;
}

.item-value {
  display: table-cell;
}

.block-subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: $secondary-color;
}

.single-space {
  margin-bottom: 0;
  line-height: 1;
}

.block-content {
  font-size: 1rem;
  line-height: 1.5;
}

.condensed-space {
  line-height: 1.1;
}

@media screen and (max-width: $breakpoint) {
  section {
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .section-title {
    text-align: center;
    margin-bottom: 2rem;
    font-family: "IM Fell French Canon SC", "Bona Nova", "Segoe UI", Roboto, Helvetica, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  }

  .section-flex {
    display: block;
  }

  .block-square {
    &:nth-last-child(2) {
      margin-bottom: 2rem;
    }
  }
}
